body {
    background-color: #d4d5da;
}


.background {
    background-color: #708090;
}

  
  #playButtonContainer {
    background-color: #708090;
    border: 2px solid #121212;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}


.button {
    background-color: #10346f; 
    border: none;
    color: rgb(249, 250, 248);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}


.button:hover {
    background-color: #989a98;
}
.game-elements {
    background-color: #10346f;
    border-bottom: 1px solid #a80d0d;
    color: #f8f0f0;
    padding: 10px;
    text-align: center;
}

#highscores-link {
    color: rgb(221, 215, 215);
}

#highscores {
    background-color: #708090;
    border: 2px solid #121212;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

h1, h3, .welcomParagraph{
    color:rgb(221, 215, 215)
}

#modal {
    background-color: #708090;
    border: 2px solid #121212;
}

#modalClose {
    color: #121212;
}